<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: headerFragment">
</head>
<body>
	<!-- Formulaire d'ajout enseignant -->
	<div th:fragment="add-teacher-form">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h3 class="modal-title">Ajouter un enseignant</h3>
		</div>
		<form class="addForm" th:action="@{/teachers}" method="post"
			role="form">
			<div class="modal-body" th:include="forms/user-form :: user-form">
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary btn-lg" role="button">Valider</button>
			</div>
		</form>
	</div>
	<!-- Formulaire d'ajout administrateur -->
	<div th:fragment="add-administrator-form">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h3 class="modal-title">Ajouter un administrateur</h3>
		</div>
		<form class="addForm" th:action="@{/administrators}" method="post"
			role="form">
			<div class="modal-body" th:include="forms/user-form :: user-form">
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary btn-lg" role="button">Valider</button>
			</div>
		</form>
	</div>
	<!-- Formulaire d'ajout étudiant -->
	<div th:fragment="add-student-form">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h3 class="modal-title">Ajouter un étudiant</h3>
		</div>
		<form class="addForm" th:action="@{/students}" method="post"
			role="form">
			<div class="modal-body" th:include="forms/user-form :: user-form">
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary btn-lg" role="button">Valider</button>
			</div>
		</form>
	</div>
	<!-- Formulaire d'ajout cours -->
	<div th:fragment="add-course-form">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h3 class="modal-title">Créer un cours</h3>
		</div>

		<form class="addForm" th:action="${submitLink.href}"
			data-redirect_url="none"
			th:attr="data-redirect_url=${redirectLink != null ? redirectLink.href : 'none'}"
			method="post" role="form" data-target_render="#ajaxPanel">
			<div class="modal-body">

				<div class="form-group">
					<label for="label">Intitulé</label><input name="label" type="text"
						class="form-control" autofocus="autofocus" required="required"
						placeholder="Maths, Anglais, etc..." />
				</div>
				<div class="form-group">
					<label for="summary">Descriptif</label>
					<textarea id="editor" name="summary" class="form-control"
						autofocus="autofocus" required="required" />
				</div>
				<div class="form-group">
					<input name="ownerId" type="hidden" th:value="${teacher.id}" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary btn-lg" role="button">Valider</button>
			</div>
		</form>
		<!-- wysiwyg API + hotkeys -->
		<script src="../assets/js/wysihtml5-0.3.0.min.js"
			th:src="@{/assets/js/wysihtml5-0.3.0.min.js}"></script>
		<script src="../assets/js/bootstrap3-wysihtml5.js"
			th:src="@{/assets/js/bootstrap3-wysihtml5.js}"></script>
		<!-- Initialisation des API -->
		<script class="script"
			src="../assets/js/locales/bootstrap-wysihtml5.fr-FR.js"
			th:src="@{/assets/js/locales/bootstrap-wysihtml5.fr-FR.js}"></script>
		<script class="script" src="../assets/js/elearning-wysiwyg.js"
			th:src="@{/assets/js/elearning-wysiwyg.js}"></script>
	</div>
	<!-- Formulaire d'ajout d'une session -->
	<div th:fragment="add-session-form">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h3 class="modal-title">
				Créer un chapitre pour le cours <strong
					th:text="${ownerEntity.label}">intitulé</strong>
			</h3>
		</div>
		<form class="addForm"
			th:action="@{'/courses/'+${ownerEntity.id}+'/sessions'}"
			method="post" data-redirect_url="none"
			th:attr="data-redirect_url=${redirectLink != null ? redirectLink.href : 'none'}"
			role="form" data-target_render="#ajaxPanel">
			<div class="modal-body">

				<div class="form-group">
					<label for="label">Intitulé</label><input name="label" type="text"
						class="form-control" autofocus="autofocus" required="required"
						placeholder="Niveau 1, 2..." />
				</div>
				<div class="form-group">
					<label for="summary">Description</label>
					<textarea name="summary" class="form-control" autofocus="autofocus"
						required="required" placeholder="Description du chapitre..." />
				</div>

				<div class="form-group">
					<input name="ownerId" type="hidden" th:value="${ownerEntity.id}" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary btn-lg" role="button">Valider</button>
			</div>
		</form>

	</div>
	<!-- Formulaire d'ajout d'une ressource -->
	<div th:fragment="add-resource-form">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h3 class="modal-title">
				Ajouter des ressources pour le chapitre <strong
					th:text="${ownerEntity.label}">intitulé</strong>
			</h3>
		</div>
		<form id="fileupload" class="addForm" enctype="multipart/form-data"
			th:action="${submitLink.href}" method="post" role="form">
			<div class="modal-body">
				<div class="form-group">
					<input name="ownerId" type="hidden" th:value="${ownerEntity.id}" />
				</div>
				<div class="form-group">
					<span class="btn btn-success btn-file">Ajouter un fichier <i class="glyphicon glyphicon-plus"></i>
					<input type="file" name="files" multiple=""></input></span>
				</div>
				<div id="results" class="top-20">
					<!--  -->
					<h3>Ressources ajoutées</h3>
					<table id="uploaded-files" class="table table-striped table-hover">
						<tr>
							<th>Nom</th>
							<th>Taille (ko)</th>
							<th>Type</th>
						</tr>
					</table>
				</div>
			</div>
		</form>
		<div class="modal-footer">
			<a data-dismiss="modal" class="btn btn-primary btn-lg redirectLink"
				role="button" data-redirect_url="none"
				th:attr="data-redirect_url=${redirectLink != null ? redirectLink.href : 'none'}"
				data-target_render="#ajaxPanel">Valider</a>
		</div>
		<!-- fileupload dépendances -->
		<script src="../assets/js/jquery-ui.min.js"
			th:src="@{/assets/js/jquery-ui.min.js}"></script>
		<script src="../assets/js/jquery.fileupload.js"
			th:src="@{/assets/js/jquery.fileupload.js}"></script>
		<script src="../assets/js/jquery.iframe-transport.js"
			th:src="@{/assets/js/jquery.iframe-transport.js}"></script>
		<script src="../assets/js/elearning-fileupload.js"
			th:src="@{/assets/js/elearning-fileupload.js}"></script>
	</div>
</body>
</html>