<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: headerFragment">
</head>
<body>
	<!-- Formulaire d'ajout enseignant -->
	<div th:fragment="add-teacher-form">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h3 class="modal-title">Ajouter un enseignant</h3>
		</div>
		<form class="addForm" th:action="@{/teachers}" method="post"
			role="form">
			<div class="modal-body">

				<div class="form-group">
					<label for="firstName"
						th:text="#{form.registration.label.firstname}">Prénom</label> <input
						name="firstName" type="text" class="form-control"
						autofocus="autofocus" required="required" placeholder="God" />
				</div>
				<div class="form-group">
					<label for="lastName" th:text="#{form.registration.label.lastname}">Nom
						de famille</label> <input name="lastName" type="text" class="form-control"
						id="lastName" placeholder="Zilla" autofocus="autofocus"
						required="required" />
				</div>
				<div class="form-group">
					<label for="login" th:text="#{form.registration.label.login}">Login</label>
					<input name="login" type="text" class="form-control" id="login"
						placeholder="Godzilla123" autofocus="autofocus"
						required="required" />
				</div>
				<div class="form-group">
					<label for="email" th:text="#{form.registration.label.email}">Adresse
						email</label><input name="email" type="email" class="form-control"
						id="email" placeholder="god.zilla123@trololo.com"
						autofocus="autofocus" required="required" />
				</div>
				<div class="form-group">
					<label for="pwd" th:text="#{form.registration.label.password}">Password</label>
					<input name="password" type="password" class="form-control"
						id="pwd" placeholder="G0j!Ra" autofocus="autofocus"
						required="required" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary btn-lg" role="button">Valider</button>
			</div>
		</form>
	</div>
	<!-- Formulaire d'ajout administrateur -->
	<!-- TODO virer thymeleaf, on passe seulement par des requetes ajax -->
	<div th:fragment="add-administrator-form">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h3 class="modal-title">Ajouter un administrateur</h3>
		</div>
		<form class="addForm" th:action="@{/administrators}" method="post"
			role="form">
			<div class="modal-body">
				<div class="form-group">
					<label for="firstName"
						th:text="#{form.registration.label.firstname}">Prénom</label> <input
						name="firstName" type="text" class="form-control"
						autofocus="autofocus" required="required" placeholder="God" />
				</div>
				<div class="form-group">
					<label for="lastName" th:text="#{form.registration.label.lastname}">Nom
						de famille</label> <input name="lastName" type="text" class="form-control"
						id="lastName" placeholder="Zilla" autofocus="autofocus"
						required="required" />
				</div>
				<div class="form-group">
					<label for="login" th:text="#{form.registration.label.login}">Login</label>
					<input name="login" type="text" class="form-control" id="login"
						placeholder="Godzilla123" autofocus="autofocus"
						required="required" />
				</div>
				<div class="form-group">
					<label for="email" th:text="#{form.registration.label.email}">Adresse
						email</label><input name="email" type="email" class="form-control"
						id="email" placeholder="god.zilla123@trololo.com"
						autofocus="autofocus" required="required" />
				</div>
				<div class="form-group">
					<label for="pwd" th:text="#{form.registration.label.password}">Password</label>
					<input name="password" type="password" class="form-control"
						id="pwd" placeholder="G0j!Ra" autofocus="autofocus"
						required="required" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary btn-lg" role="button">Valider</button>
			</div>
		</form>
	</div>
	<!-- Formulaire d'ajout étudiant -->
	<div th:fragment="add-student-form">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h3 class="modal-title">Ajouter un étudiant</h3>
		</div>
		<form class="addForm" th:action="@{/students}" method="post"
			role="form">
			<div class="modal-body">

				<div class="form-group">
					<label for="firstName"
						th:text="#{form.registration.label.firstname}">Prénom</label> <input
						name="firstName" type="text" class="form-control"
						autofocus="autofocus" required="required" placeholder="God" />
				</div>
				<div class="form-group">
					<label for="lastName" th:text="#{form.registration.label.lastname}">Nom
						de famille</label> <input name="lastName" type="text" class="form-control"
						id="lastName" placeholder="Zilla" autofocus="autofocus"
						required="required" />
				</div>
				<div class="form-group">
					<label for="login" th:text="#{form.registration.label.login}">Login</label>
					<input name="login" type="text" class="form-control" id="login"
						placeholder="Godzilla123" autofocus="autofocus"
						required="required" />
				</div>
				<div class="form-group">
					<label for="email" th:text="#{form.registration.label.email}">Adresse
						email</label><input name="email" type="email" class="form-control"
						id="email" placeholder="god.zilla123@trololo.com"
						autofocus="autofocus" required="required" />
				</div>
				<div class="form-group">
					<label for="pwd" th:text="#{form.registration.label.password}">Password</label>
					<input name="password" type="password" class="form-control"
						id="pwd" placeholder="G0j!Ra" autofocus="autofocus"
						required="required" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary btn-lg" role="button">Valider</button>
			</div>
		</form>
	</div>
	<!-- Formulaire d'ajout cours -->
	<div th:fragment="add-course-form">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h3 class="modal-title">Créer un cours</h3>
		</div>

		<form class="addForm" th:action="${submitLink.href}"
			data-redirect_url="none"
			th:attr="data-redirect_url=${redirectLink != null ? redirectLink.href : 'none'}"
			method="post" role="form">
			<div class="modal-body">

				<div class="form-group">
					<label for="label">Intitulé</label><input name="label" type="text"
						class="form-control" autofocus="autofocus" required="required"
						placeholder="Maths, Anglais, etc..." />
				</div>
				<div class="form-group">
					<input name="ownerId" type="hidden" th:value="${teacher.id}" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary btn-lg" role="button">Suivant</button>
			</div>
		</form>
	</div>
	<!-- Formulaire d'ajout d'une session -->
	<div th:fragment="add-session-form">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h3 class="modal-title">
				Créer un chapitre pour le cours <strong
					th:text="${ownerEntity.label}">intitulé</strong>
			</h3>
		</div>
		<form class="addForm"
			th:action="@{'courses/'+${ownerEntity.id}+'/sessions'}" method="post"
			role="form">
			<div class="modal-body">

				<div class="form-group">
					<label for="label">Intitulé</label><input name="label" type="text"
						class="form-control" autofocus="autofocus" required="required"
						placeholder="Niveau 1, 2..." />
				</div>
				<div class="form-group">
					<label for="summary">Description</label>
					<textarea name="summary" class="form-control" autofocus="autofocus"
						required="required" placeholder="Description du chapitre..." />
				</div>
				<div class="form-group">
					<input name="ownerId" type="hidden" th:value="${ownerEntity.id}" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary btn-lg" role="button">Valider</button>
			</div>
		</form>
	</div>
	<!-- Formulaire d'ajout d'une ressource -->
	<div th:fragment="add-resource-form">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h3 class="modal-title">
				Ajouter une ressource pour le chapitre <strong
					th:text="${ownerEntity.label}">intitulé</strong>
			</h3>
		</div>
		<form class="addForm" enctype="multipart/form-data"
			th:action="@{'sessions/'+${ownerEntity.id}+'/resources'}"
			method="post" role="form">
			<div class="modal-body">
				<div class="form-group">
					<input name="ownerId" type="hidden" th:value="${ownerEntity.id}" />
				</div>
				<div class="form-group">
					<label for="resourceType">Type de la resource</label> <select
						name="resourceType" class="form-control">
						<option th:each="type : ${allResourcesTypes}" th:value="${type}"
							th:text="${type.label}">Intitulé du type</option>
					</select>
				</div>
				<div class="form-group">
					<span id='filename'></span>
					 <a href='#' id='attach'>Attacher un
						fichier...</a><input id="upload" type="file" name="file"
						data-url="${'sessions/'+${ownerEntity.id}+'/resources'}"
						multiple="" />
				</div>
				<div class="form-group">
					<label for="summary">Description</label>
					<textarea name="summary" class="form-control" autofocus="autofocus"
						required="required" placeholder="Description de la ressource..." />
				</div>
				<div class="form-group">
					<input name="ownerId" type="hidden" th:value="${ownerEntity.id}" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary btn-lg" role="button">Valider</button>
			</div>
		</form>
	</div>
</body>
</html>