<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: headerFragment">
</head>
<body>
	<!-- Formulaire d'édition enseignant -->
	<div th:fragment="edit-teacher-form">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h3 class="modal-title">Modification d'un enseignant</h3>
		</div>
		<form class="editForm" th:action="${teacher.getLink('edit').href}"
			method="post" role="form">
			<div class="modal-body">

				<div class="form-group">
					<label for="firstName"
						th:text="#{form.registration.label.firstname}">Prénom</label> <input
						name="firstName" type="text" class="form-control"
						autofocus="autofocus" required="required"
						th:placeholder="${teacher.content.firstName}" />
				</div>
				<div class="form-group">
					<label for="lastName" th:text="#{form.registration.label.lastname}">Nom
						de famille</label> <input name="lastName" type="text" class="form-control"
						id="lastName" th:placeholder="${teacher.content.lastName}"
						autofocus="autofocus" required="required" />
				</div>
				<div class="form-group">
					<label for="email" th:text="#{form.registration.label.email}">Adresse
						email</label><input name="email" type="email" class="form-control"
						id="email" th:placeholder="${.content.email}"
						autofocus="autofocus" required="required" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary btn-lg" role="button">Valider</button>
			</div>
		</form>
	</div>
	<!-- Formulaire d'édition administrateur -->
	<div th:fragment="edit-administrator-form">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h3 class="modal-title">Modification d'un profil administrateur</h3>
		</div>
		<form class="editForm"
			th:action="${administrator.getLink('edit').href}" method="post"
			role="form">
			<div class="modal-body">
				<div class="form-group">
					<label for="firstName"
						th:text="#{form.registration.label.firstname}">Prénom</label> <input
						name="firstName" type="text" class="form-control"
						autofocus="autofocus" required="required"
						th:placeholder="${administrator.content.firstName}" />
				</div>
				<div class="form-group">
					<label for="lastName" th:text="#{form.registration.label.lastname}">Nom
						de famille</label> <input name="lastName" type="text" class="form-control"
						id="lastName" th:placeholder="${administrator.content.lastName}"
						autofocus="autofocus" required="required" />
				</div>

				<div class="form-group">
					<label for="email" th:text="#{form.registration.label.email}">Adresse
						email</label><input name="email" type="email" class="form-control"
						id="email" th:placeholder="${administrator.content.email}"
						autofocus="autofocus" required="required" />
				</div>

			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary btn-lg" role="button">Valider</button>
			</div>
		</form>
	</div>
	<!-- Formulaire d'édition étudiant -->
	<div th:fragment="edit-student-form">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h3 class="modal-title">Modification d'un profil étudiant</h3>
		</div>
		<form class="editForm" th:action="${student.getLink('edit').href}"
			method="post" role="form">
			<div class="modal-body">

				<div class="form-group">
					<label for="firstName"
						th:text="#{form.registration.label.firstname}">Prénom</label> <input
						name="firstName" type="text" class="form-control"
						autofocus="autofocus" required="required"
						th:placeholder="${student.content.firstName}" />
				</div>
				<div class="form-group">
					<label for="lastName" th:text="#{form.registration.label.lastname}">Nom
						de famille</label> <input name="lastName" type="text" class="form-control"
						id="lastName" th:placeholder="${student.content.lastName}"
						autofocus="autofocus" required="required" />
				</div>
				<div class="form-group">
					<label for="email" th:text="#{form.registration.label.email}">Adresse
						email</label><input name="email" type="email" class="form-control"
						id="email" th:placeholder="${student.content.email}"
						autofocus="autofocus" required="required" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary btn-lg" role="button">Valider</button>
			</div>
		</form>
	</div>
	<!-- Formulaire d'édition cours -->
	<div th:fragment="edit-course-form">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h3 class="modal-title">Modifier un cours</h3>
		</div>
		<form class="editForm" th:action="${course.getLink('edit').href}"
			method="post" role="form"
			th:attr="data-redirect_url=${redirectLink != null ? redirectLink.href : 'none'}"
			data-target_render="#ajaxPanel">
			<div class="modal-body">

				<div class="form-group">
					<label for="label">Nouvel intitulé</label><input name="label"
						type="text" class="form-control" autofocus="autofocus"
						required="required" th:placeholder="${course.content.label}" />
				</div>
				<div class="form-group">
					<label for="summary">Descriptif</label>
					<textarea id="editor" name="summary" class="form-control"
						autofocus="autofocus" required="required" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary btn-lg" role="button">Suivant</button>
			</div>
		</form>
		<!-- wysiwyg API + hotkeys -->
		<script src="../assets/js/wysihtml5-0.3.0.min.js"
			th:src="@{/assets/js/wysihtml5-0.3.0.min.js}"></script>
		<script src="../assets/js/bootstrap3-wysihtml5.js"
			th:src="@{/assets/js/bootstrap3-wysihtml5.js}"></script>
		<!-- Initialisation des API -->
		<script class="script"
			src="../assets/js/locales/bootstrap-wysihtml5.fr-FR.js"
			th:src="@{/assets/js/locales/bootstrap-wysihtml5.fr-FR.js}"></script>
		<script class="script" src="../assets/js/elearning-wysiwyg.js"
			th:src="@{/assets/js/elearning-wysiwyg.js}"></script>
	</div>
	<!-- Formulaire d'édition session -->
	<div th:fragment="edit-session-form">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h3 class="modal-title">Modifier un chapitre</h3>
		</div>
		<form class="editForm"
			th:action="${courseSession.getLink('edit').href}" method="post"
			role="form">
			<div class="modal-body">

				<div class="form-group">
					<label for="label">Nouvel intitulé</label><input name="label"
						type="text" class="form-control" autofocus="autofocus"
						required="required"
						th:placeholder="${courseSession.content.label}" />
				</div>
				<!-- 				<div class="form-group">
					<label for="startDate">Date de début</label><input name="startDate" type="date"
						class="form-control" autofocus="autofocus" required="required"
						th:placeholder="${courseSession.content.startDate} />
				</div>
				<div class="form-group">
					<label for="endDate">Date de fin</label><input name="endDate" type="date"
						class="form-control" autofocus="autofocus" required="required"
						th:placeholder="${courseSession.content.endDate} />
				</div> -->

				<div class="form-group">
					<input name="ownerId" type="hidden" th:value="${ownerEntity.id}" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary btn-lg" role="button">Valider
					les modifications</button>
			</div>
		</form>
	</div>
</body>
</html>