<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment">
<title>Plateforme E-Learning</title>
<link rel="stylesheet" href="../assets/css/bootstrap.min.css"
	th:href="@{/assets/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../assets/css/elearning-theme.css"
	th:href="@{/assets/css/elearning-theme.css}" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../assets/js/bootstrap.min.js"
	th:src="@{/assets/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:fragment="unsigned-navbar">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">E-Learning</a>
			</div>
			<div class="navbar-collapse collapse">
				<form class="navbar-form navbar-right" role="form"
					action="authentication" th:action="@{/authentication}"
					method="post">
					<div class="form-group">
						<input class="form-control" id="j_username" name="j_username"
							type="text" required="required" autofocus="autofocus"
							placeholder="Login"></input>
					</div>
					<div class="form-group">
						<input class="form-control" id="j_password" name="j_password"
							type="password" required="required" placeholder="Mot de passe"></input>
					</div>
					<button class="btn btn-success" type="submit">Connexion</button>
				</form>
			</div>
		</div>
	</div>

	<footer th:fragment="footer">
		<span id="footerText" class="container"> Copyright 2014 EMPOWER
			| <a href="http://www.iut.univ-paris8.fr/">IUT de Montreuil</a> |
			Plateforme E-Learning
		</span>
	</footer>
</body>

</html>