<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: headerFragment">

</head>

<body>
	<!-- navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation"
		th:include="fragment/navbars :: signed-navbar"></div>
	<div class="container top-20">
		<div class="row row-offcanvas row-offcanvas-left">
			<!-- Cours, page principale -->
			<div id="ajaxMessage"></div>
			<!-- Cours -->
			<div>
				<div class="bordered-bottom">
					<h1 th:text="${course.content.label}">Cours</h1>
				</div>
				<div class="row top-20">
					<div class="col-lg-12">
						<p class="text-left">
							<i class="glyphicon glyphicon-user"></i> Enseignant responsable :
							<strong
								th:text="${course.content.coursesTeaching[0].teacher.firstName + ' ' +course.content.coursesTeaching[0].teacher.lastName}">Nom
								de l'enseignant</strong>
						</p>
					</div>

					<div class="col-lg-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Chapitres du cours</h3>
							</div>
							<div class="panel-body">
								<p class="text-danger text-center"
									th:if="${#lists.isEmpty(course.content.sessions)}">Aucun
									chapitre n'existe pour ce cours</p>
								<div th:unless="${#lists.isEmpty(course.content.sessions)}">
									<table class="table table-condensed table-hover">
										<tbody>
											<tr>
												<th>#</th>
												<th>Intitulé du chapitre</th>
												<th class="text-center">Accès sous conditions</th>
											</tr>
											<tr th:each="courseSession : ${course.content.sessions}">
												<td class="span4"
													th:text="${courseSession.sessionRank + '.'}">Bryan123</td>
												<td class="span4"><a th:href="${baseLink.href + '/' + course.content.id +'/sessions/'+ courseSession.sessionRank}" th:text="${courseSession.label}"></a></td>
												<td class="text-center">Non</td>

											</tr>
										</tbody>
									</table>
								</div>

							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="jumbotron" th:utext="${course.content.summary}"></div>
					</div>
					<div class="col-lg-12">
						<h3 class="bordered-bottom">Prochains cours présentiels planifiés</h3>
						<p class="text-danger">Aucun cours présentiel n'est planifié</p>
					</div>
				</div>

			</div>
		</div>
		<footer th:include="fragment/common :: [//footer]"></footer>
	</div>
</body>
</html>