<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: headerFragment">

</head>

<body>
	<div class="container top-20">
		<div class="row row-offcanvas row-offcanvas-left">
			<!-- Le cadre de rendu est délégué au template appelant -->
			<div th:fragment="display-notifications">
				<!-- Corps -->
				<div>
					<p th:if="${#lists.isEmpty(notifications)}">Vous n'avez aucune
						notification.</p>
					<div th:if="${!#lists.isEmpty(notifications)}">
						<div class="panel panel-default"
							th:each="notification : ${notifications}">
							<div class="panel-heading">
								<h3 class="panel-title"
									th:text="${notification.content.subject}">Panel title</h3>
							</div>
							<div class="panel-body">
								<div th:utext="${notification.content.body}"></div>

							</div>
							<div class="panel-footer">
								<p class="text-left">
									<a class="deleteLink btn btn-default" href="./delete.html"
										th:href="${notification.getLink('delete').href}"
										data-redirect_url="none"
										th:attr="data-redirect_url=${redirectLink != null ? redirectLink.href : 'none'}"
										data-target_render="#ajaxPanel">Supprimer la
										notification <i class="glyphicon glyphicon-remove"></i>
									</a>
								</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>