<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: headerFragment">
</head>
<body>
	<div th:fragment="registration-form">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
				<h3 class="modal-title">Formulaire d'inscription</h3>
		</div>
		<form class="addForm" th:action="@{/registration}"
			method="post" role="form" data-redirect_url="none"
			data-target_render="#ajaxMessage">
			<div class="modal-body" th:include="forms/user-form :: user-form">
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary btn-lg" role="button">Valider</button>
			</div>
		</form>


	</div>
</body>
</html>