<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: headerFragment">
</head>
<body>

	<!-- Sidebars -->
	<div class="col-md-3 sidebar-offcanvas" id="sidebar" role="navigation"
		th:fragment="sidebar">
		<!-- Sidebar administrateur -->
		<ul sec:authorize="hasRole('ROLE_ADMIN')" class="nav">
			<li><a class="displayLink" href="/administrators"
				th:href="${administratorsLink.href}" role="button"><i
					class="glyphicon glyphicon-chevron-right"></i> Gérer les
					administrateurs </a></li>
			<li><a class="displayLink" href="/teachers"
				th:href="${teachersLink.href}" role="button"><i
					class="glyphicon glyphicon-chevron-right"></i> Gérer les
					enseignants </a></li>
			<li><a class="displayLink" href="/students"
				th:href="${studentsLink.href}" role="button"><i
					class="glyphicon glyphicon-chevron-right"></i> Gérer les étudiants
			</a></li>
			<!-- <li><a class="displayLink" href="/courses"
						th:href="${coursesLink.href}" role="button"><i
							class="glyphicon glyphicon-chevron-right"></i>  Gérer les cours </a></li> -->
		</ul>
		<!-- Sidebar enseignant -->
		<ul sec:authorize="hasRole('ROLE_TEACHER')" class="nav">
			<li><a class="displayLink" href="/courses"
				th:href="${ownedCoursesLink.href}" role="button"><i
					class="glyphicon glyphicon-chevron-right"></i> Gérer vos cours </a></li>
			<!-- <li><a href="#" role="button"><i
					class="glyphicon glyphicon-chevron-right"></i> Emploi du temps </a></li> -->
		</ul>
		<!-- Sidebar étudiant -->
		<ul sec:authorize="hasRole('ROLE_STUDENT')" class="nav">
			<li><a class="displayLink" href="/courses"
				th:href="${subscribedCoursesLink.href}" role="button"><i
					class="glyphicon glyphicon-chevron-right"></i> Vos cours </a></li>
			<li><a class="displayLink" href="/courses"
				th:href="${othersAvailablesCoursesLink.href}" role="button"><i
					class="glyphicon glyphicon-chevron-right"></i> S'inscrire à un
					cours </a></li>
			<li><a href="#" role="button"><i
					class="glyphicon glyphicon-chevron-right"></i> Emploi du temps </a></li>
		</ul>
	</div>

</body>

</html>